@import 'longform-styles';
@import 'philly-styles/values';

.sharestory {
  background-color: hsla(0,0%,84%,.3);
  padding: 15px 30px 20px;
  a {
    color: #333333;
    text-decoration: none;
}
}

.sharestorytext {
    color: #333333;
    text-decoration: none;
    a {
      color: #333333;
      text-decoration: none;
  }
}
