<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">TIM TAI / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Silent Witnesses</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Martin and Jennifer Haugh at their home in New Cumberland, Pa.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            For Jehovah's Witnesses, an insular culture and archaic rules have created a "recipe for child abuse."
        </div>
        <div class="byline">
            David Gambacorta / Staff Writer, <a href="mailto:dgambacorta@philly.com">dgambacorta@philly.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">April 25, 2018</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">A</span><p> second was all it took. A second was all he needed.</p>
            <p>The little girl was 4, round-faced and freckled and dressed in her Sunday best. She was fidgeting next to her father inside the Jehovah's Witnesses Kingdom Hall in Red Lion, York County — a safe, familiar space for a family that spent nearly all of its free time preaching and praying.</p>
            <p>Martin Haugh was momentarily preoccupied, doling out assignments to his fellow Witnesses for their door-to-door ministry work. When he looked down for his daughter, she was gone. Haugh plunged into the slow-motion panic of every parent's worst nightmare.</p>

            <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
                   <div class="adUnit" alignment="true">
                       <div id="div-gpt-ad-mrec-21" alignment="true">
                           <script alignment="true" type="text/javascript">

                                   googletag.cmd.push(function() {
                                       googletag.display('div-gpt-ad-mrec-21');
                                   });
                           </script>
                       </div>
                   </div>
               </div>

  <p>He scrambled through the one-story brick building, calling her name, the anxiety piling up like concrete blocks on his chest with each passing moment. She wasn't in the bathrooms, she wasn't in the lobby. He tried a coatroom next, and found her there. But she wasn't alone.</p>
   <p>Haugh's daughter was perched on the lap of a teenage boy who had quietly lured her away. He was molesting her. "He wanted to give me a special hug," the girl told her father.</p>

 </div>
 </div>
 <div alignment="true" class="row">
 <div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_haugh_album_1200.jpg" alt="" width="100%/">
 <div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
 <div class="containerPhotoCaption" alignment="true">Jennifer and Martin Haugh show photos of their daughter that was taken about a year after she was molested at their local kingdom hall.</div>
 </div>
 </div>
 <div class="row" alignment="true">
 <div class="col-md-8 col col-md-offset-2" alignment="true">

   <p>The English language can't adequately give shape to the horror of such a discovery, to a parent seeing his child's innocence being corrupted and shattered. But what came next was just as hard to describe. When Haugh and his wife, Jennifer, told the elders who oversaw their congregation about this October 2005 incident, they were greeted with muted concern. Then came the threats.</p>
   <p>"We were told on more than one occasion that if we told other parents about this, we would be disciplined," Haugh, 41, said during a recent interview.</p>

{% set quote = ["We were told on more than one occasion that if we told other parents about this, we would be disciplined.", "Martin Haugh"] %} {% include "partials/left-quote.html" %}

<p>"We never heard the words 'Go to the cops!' or 'Are you considering therapy for her?' " his wife added. "Then people stopped talking to us."</p>
<p>The Haughs were deeply enmeshed in the world of the Witnesses — Martin was fifth generation — but this was their first brush with the wall of silence that the religion's leaders have relied on to prevent allegations of child sex abuse from reaching law enforcement.</p>
<p>Internal documents show that the Witnesses' leadership, the Watchtower Bible and Tract Society of New York, has long enforced a policy of secrecy in any potential legal matters. "The need for elders to maintain strict confidentiality has been repeatedly stressed," reads one passage from a 1989 memo that instructed elders to resist cooperating if police ever showed up at their kingdom halls with a search warrant.</p>
<p>Another memo, from 1997, focused entirely on the topic of child molesters. Elders, the equivalent of priests, were told to inform one another if known pedophiles moved from one kingdom hall to another — and to withhold the information from the congregations.</p>
<p>But thanks to a growing number of court cases, criminal prosecutions, and whistle-blowers, light has been shed on some of the monsters who lurk in the shadows.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_pamphlets_2.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">Jehovah's Witnesses get in some of their required monthly service time by handing out booklets in front of 30th Street Station in Philadelphia.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

<p>In the U.S., lawsuits have been filed on behalf of abuse victims from Philadelphia to California, where a Superior Court judge last year fined the Watchtower <a href="https://www.revealnews.org/blog/jehovahs-witnesses-tab-for-child-sex-abuse-secrecy-2m-and-counting/">more than $2 million</a> for refusing to turn over a secretly compiled list of known child molesters. A $66 million <a href="http://toronto.citynews.ca/2017/10/02/66m-class-action-sex-abuse-suit-filed-jehovahs-witnesses/">class-action lawsuit</a> is looming in Canada, and more than 1,000 abusers have been <a href="https://www.childabuseroyalcommission.gov.au/media-releases/report-jehovahs-witness-organisations-released">identified by a royal commission in Australia.</p>
  <p>Watchtower officials declined to participate in an interview, opting instead to send a statement that read in part: "Jehovah's Witnesses abhor child abuse, a crime that sadly occurs in all sectors of society. The safety of our children is of the utmost importance."</p>
  <p>But the child-abuse claims are just one piece of the complicated puzzle that lies at the heart of the inner workings of the Witnesses, an often misunderstood religion that grew from humble beginnings in Pittsburgh to become an organization with eight million followers around the world, more than a dozen congregations in Philadelphia, and a real estate empire in New York that, during the last few years, has been partly sold for more than $1 billion to the development company formerly run by Jared Kushner, President Trump's son-in-law.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_watchtower_skyline_2048.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">SETH WENIG / AP</div>
<div class="containerPhotoCaption" alignment="true">The Jehovah's Witnesses' former world headquarters in Brooklyn was among three large sites that the religion's leaders sold in recent years for more than $1 billion to the development company formerly run by Jared Kushner, President Trump's son-in-law.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>I spoke to 14 former Witnesses, ranging in age from 19 to 77, about the experiences that drove them to leave the faith, a process they called "waking up."</p>
  <p>Some are sexual-abuse survivors, while others saw firsthand how top leaders buried evidence of disturbing crimes. Some cracked under the weight of a dogma that deliberately cuts followers off from the rest of society, with the promise of being saved when the world comes to an end.</p>

{% set quote = ["My in-laws held a wake for us. Like we were dead.", "Jennifer Haugh"] %} {% include "partials/left-quote.html" %}

<p>There's a heavy price to pay for speaking out. Witnesses are taught to sever ties with anyone who strays from the teachings that have been handed down by the governing body, an emotional punishment known as shunning.</p>
<p>The Haughs know it well. They finally left the religion for good in 2016. "My in-laws held a wake for us," Jennifer Haugh said. "Like we were dead."</p>

<div class="subHead">Promise and Peril</div>

<p>In an uncertain world, people yearn for reassurance. That's as true now as it was in the early 1870s, when a charismatic young man from Allegheny County named Charles Taze Russell began analyzing the Bible with a group of others who became known as Bible Students.</p>
<p>The U.S. was only a few years removed from the trauma of the Civil War, and large swaths of the country were being remade by the engine of the second industrial revolution.</p>
<p>Russell, who owned several clothing stores and briefly lived in Philadelphia, favored first-century Christian teachings, and believed that mankind was entering its final days. He calculated that the end of society as they knew it would begin in 1914.</p>
<p>But the Bible Students softened the Armageddon talk with assurances that believers and their families would be resurrected from the dead. That comforting message helped win over converts in the 1890s like Dwight D. Eisenhower's parents, who'd lost a child to diphtheria. (Eisenhower became a Presbyterian after he was elected president.)</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-8 imagebreak col-md-offset-2"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_rutherford_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">File photograph</div>
<div class="containerPhotoCaption" alignment="true">Joseph Rutherford, shown during a speech in 1919, ushered in strict cultural rules for Jehovah's Witnesses after he succeeded the religion's founder, Charles Taze Russell.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>When Russell died in 1916, his followers split into different factions. Some stuck with his successor, Joseph Rutherford; they adopted the name Jehovah's Witnesses in 1931. Rutherford doubled down on promising that the end was close at hand, a tactic that gave the religion's leaders even greater sway over those who took the warnings to heart.</p>
  <p>Fear, after all, is a powerful tool.</p>
  <p>Eccentric new rules were introduced. Witnesses were forbidden from celebrating their birthdays and holidays, including Christmas and Mother's Day. Military service and voting weren't permitted, and followers weren't allowed to receive blood transfusions, even in medical emergencies.</p>
  <p>But those restrictions weren't emphasized by the pleasant, well-dressed Witnesses who began knocking on doors across the country, offering warm smiles and a few words about salvation.</p>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
    <img class="img-fluid" src="http://media.philly.com/images/jehovah_anderson_vertical.jpg" alt="" width="100%/">
    <div class="containerPhotoCredit" alignment="true">MARK HUMPHREY / AP file photo</div>
    <div class="containerPhotoCaption" alignment="true">Barbara and Joe Anderson, shown at their Tullahoma, Tenn., home in 2002, were disfellowshipped by Witness leaders after they spoke publicly about the religion's systemic child sex abuse problems.</div>
</div>

<p>Barbara Anderson was a teenager living in Long Island in 1954 when she began studying with a Witness she met at a friend's house. "I was a very curious kid, and I wanted answers for why we are here," Anderson, 77, said from her home in Tennessee. "She answered all of my questions."</p>
<p>That peace of mind — being able to trust that there's a special plan for them in the grand scheme of an unpredictable universe — helps many Witnesses to endure a challenging lifestyle. Children aren't allowed to play organized sports or form friendships with kids outside of the religion, and adults are expected to spend a minimum of 10 hours a month on field ministry. Attending college is largely discouraged, especially for women.</p>
<p>Still, the religion has boasted plenty of celebrities among its ranks over the years. Prince shocked some Minnesota residents by <a href="http://ew.com/article/2003/10/15/prince-goes-door-door-jehovahs-witnesses/">knocking on their doors</a> after he converted in the early 2000s. Tennis superstars Venus and Serena Williams, the actor Donald Glover, and musician Patti Smith were all raised Witnesses. Michael Jackson <a href="http://articles.latimes.com/1987-06-07/local/me-1060_1_michael-jackson">left the religion</a> in the late 1980s, a few years after he faced blowback from elders who were unhappy with the ghouls that he featured in the video for "Thriller."</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-8 imagebreak col-md-offset-2"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_prince_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">AP file photo</div>
<div class="containerPhotoCaption" alignment="true">Prince became a Jehovah's Witness &mdash; and even knocked on people's doors in Minnesota &mdash; after he converted in the early 2000s with the help of former Sly and the Family Stone bassist Larry Graham (left).</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>More than 120,000 Witnesses call Pennsylvania home, according to a Pew study that was released in 2014, with at least 7,775 practicing members in Philadelphia. Many of the kingdom halls are in North and West Philadelphia, where they have attracted predominantly black congregations. Nationally, their followers are diverse: 36 percent are white, 27 percent are black, and 32 percent are Latino.</p>
  <p>They're often portrayed in the media as quirky characters whose wholesomeness seems leftover from another era. More than a dozen stories have been written by news outlets across the country since 2010 about members who scrub arenas by hand — including Temple University's Liacouras Center — prior to annual conventions.  "Overall, they're nice, sincere people," Anderson said of the faith's rank-and-file members.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-8 imagebreak col-md-offset-2"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_baptism1_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">File Photograph</div>
<div class="containerPhotoCaption" alignment="true">A Jehovah's Witness is baptized during a convention at Veterans Stadium on July 12, 1985.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>But she also had a rare glimpse at the inner workings of the Witnesses' governing body, a group of eight men who claim to receive instructions from God. Anderson's husband was a high-ranking elder, and she was assigned to the Watchtower's massive world headquarters in Brooklyn, where she was one of the only women in the male-dominated hierarchy to work in the writing department for their magazine, Awake!</p>
  <p>In 1991, the publication included an article on surviving child abuse, which triggered a stunning response: Thousands of abuse survivors contacted the Watchtower. Some claimed they had been molested by elders, others by friends and family members. "It was awful," said Anderson, who personally fielded phone calls from some victims.</p>
  <p>She discovered the governing body had specific protocols for dealing with molestation. Elders were supposed to notify the Witnesses' legal department if they learned of abuse by sending the information to New York in a special blue envelope. Victims were required to recount their allegations in front of their abusers, and produce two eyewitnesses who could support their claims. Discipline was handled internally.</p>
  <p>"By their policies, they were inadvertently protecting pedophiles," Anderson said.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_reedere_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">John Reeder once served as an elder at a kingdom hall in Bradley Beach, N.J. He was dismayed by the way its leaders responded to abuse allegations involving a man and an adolescent girl.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>John Reeder saw those policies in action. As an elder at the Bradley Beach Kingdom Hall at the Jersey Shore, Reeder said he participated in conversations with other elders in the early 2000s when they received word that a twenty-something man had fondled the breasts of a friend's 12-year-old daughter.</p>
  <p>"We said, 'You have to make it right with the father,' " Reeder, 59, recalled during a recent interview. "We were following [the legal department's] directions. I don't think we ever spoke to the father."</p>
  <p>There was a complication: Clergy are among those in New Jersey who are required by law to report suspected child abuse. Reeder said the legal department offered advice on how to alert authorities discreetly.</p>
  <p>"They told us to have someone go to another town and make an anonymous phone call to the police department from a pay phone," he explained. "They considered that valid reporting. I said: 'This is ridiculous! Do we have to wear a trench coat, too?' "</p>
  <p>Reeder’s final breaking point came in 2004, when other elders worked to have his 20-year-old daughter "disfellowshipped" — excommunicated, essentially — for running afoul of their rules. Reeder was forced to cut off all contact with her. The experience, he said, left her deeply traumatized.</p>
  <p>Barbara Anderson, meanwhile, decided to go public with her knowledge about the Witnesses' untold abuse stories, and appeared on an episode of the NBC show Dateline in 2002. She and her husband were condemned by the Witnesses' leaders and disfellowshipped.</p>
  <p>"I'd had enough," she said. "I thought: 'What kind of people are you? How can you be God's organization?' "</p>

<div class="subHead">The Damage Done</div>

<p>An iPad flickered to life, and Sarah Brooks appeared in a FaceTime window.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_brooks_crying_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">Sarah Brooks breaks down as she describes the sexual abuse she suffered as a teen in York at the hands of two Jehovah's Witnesses.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

<p>It was a rainy February evening, and the 30-year-old was sitting in her driveway in York, trying to explain to me all the ways she'd been violated when she was younger.</p>
<p>The trouble started in 2002, when she was 14. Two adult Witnesses who were close to her — Joshua Caldwell, a family friend, and Jennifer McVey, her then-sister-in-law — started secretly providing Brooks with wine coolers and Yuengling. A year later, the duo allegedly graduated to something more sinister.</p>
<p>Brooks worked with Caldwell, clearing out abandoned houses before they could be winterized; McVey tagged along as a chaperone of sorts. "It was during working hours, in abandoned, nasty homes, that he would abuse me," Brooks said matter-of-factly.</p>
<p>For two years, Brooks said, Caldwell and McVey, who were then in their 20s, allegedly took turns sexually assaulting her. "I did not understand what was going on at the time," she said.</p>
<p>Eventually, she worked up the nerve to tell her father. "He called the elders from our congregation, who were relatives of my abuser. They came over and questioned me," she said. "I was told to go to my room." Things got worse from there. Brooks said the elders singled her out at the local kingdom hall, announcing to a congregation that she had been "reproved."</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-8 imagebreak col-md-offset-2">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HTdhiY_ZgR0"></iframe>
</div>

</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

<p>"What this means is that I'd done something severely wrong, but that I'm repentful," she explained. "It also means that I'm bad association. So people avoided me."</p>
<p>Brooks became a walking ghost, ignored by her closest friends. "I had no more social life anymore," she said. "I didn't have anybody." She tried to ward off the isolation by working three jobs, but found it was impossible to outrun the pain. Her anxiety blossomed into an eating disorder.</p>
<p>Brooks said she informed a local police officer about her abuse after she turned 18, but was told nothing could be done. She reached out to York County authorities again eight years later, and found better luck: Caldwell and McVey were arrested in 2013, and both pleaded guilty to corruption of a minor.</p>

{% set quote = ["They came over and questioned me. I was told to go to my room.", "Sarah Brooks"] %} {% include "partials/left-quote.html" %}

<p>"It was the best feeling in the world," Brooks said, as tears began to run down her face. "It made two years of hell completely worth it."</p>
<p>She is still haunted by the experience. Red Ford pickup trucks remind her of the one that served as a setting for some of the assaults. Even small gestures, like parting her hands in an outward direction, can trigger a sickening flashback. "It reminds me of what he used to do to my legs," she sobbed.</p>
<p>Her parents were appalled by her decision to go public, and distanced themselves from her. Brooks has found solace in other former Witnesses, like Martin and Jennifer Haugh, and drawn strength from learning the stories of other local women who overcome horrific abuse, like Stephanie Fessler.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_brooks_sitting1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">Sarah Brooks worked with police as an adult to bring her abusers to justice, an action her family didn't support.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

<p>Some turn to social media to connect and commiserate. More than <a href="https://www.reddit.com/r/exjw/">20,000 people belong to a Reddit forum</a> devoted exclusively to ex-Witnesses, and YouTube is littered with confessional-style videos from former followers who discuss the <a href="https://www.youtube.com/results?search_query=why+i+left+jehovah%27s+witnesses">absurdity of their experiences.</a></p>
<p>The Haughs, meanwhile, hope that their daughter, who is now 16, will be able to find a measure of justice. The York Area Regional Police Department issued an arrest warrant for her alleged abuser, John Martin Haugh, in October. (The 25-year-old is the adopted son of one of Martin's uncles.)</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_red_lion_2_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">The Jehovah's Witnesses Kingdom Hall in Red Lion, York County, where the Haughs' 4-year-old daughter was molested in 2005.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

<p>Such a development was practically unthinkable when the Haughs were still practicing Witnesses. Martin recalled that some elders once told him that he could contact the police — but then tacked on an unsettling warning. "They said we would bring reproach on Jehovah's name." The elders, meanwhile, punished his daughter's abuser by restricting him from door-to-door ministry work for eight months.</p>
<p>Their family might not have been the only one grappling with abuse at the Red Lion Kingdom Hall, which had about 150 congregants. "We know of eight other child molesters there," Jennifer Haugh said.</p>
<p>Some women told her they were raped by their husbands. "You're trained as a female that you have no power, no agency," she said.</p>
<p>The presence of such widespread and seemingly well-known problems raises the question: Why haven't more people spoken up? The answer could lie in what's at stake. Witnesses have few relationships outside of their religion; the risk of being shunned by the very people they hold dear is difficult to digest. (In February, a Michigan woman committed suicide after she murdered her husband and two sons. They were ex-Witnesses, and <a href="https://www.freep.com/story/news/local/michigan/2018/03/18/jehovahs-witnesses-murder-suicide-keego-harbor/409695002/">the shunning they endured has been cited as a possible motive</a>.)</p>
<p>"I feel like I lived a huge number of years wrapped in plastic," Haugh said. "You're not allowed to feel anything."</p>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
    <img class="img-fluid" src="http://media.philly.com/images/jehovah_watchtower_sign.jpg" alt="" width="100%/">
    <div class="containerPhotoCredit" alignment="true">SETH WENIG / AP file photo</div>
    <div class="containerPhotoCaption" alignment="true">This iconic sign sat on the Witnesses' former headquarters in Brooklyn. It was recently sold to Kushner Companies.</div>
</div>

<p>On a deeper level, Witnesses expect that they'll be the only ones who will be spared when the world ends. The possibility of being left outside of that circle, stuck in an eternal void, is a persuasive reason to avoid rebelling — even in a life-or-death situation, like the one that Terri Seels-Davila found herself in.</p>
<p>A 39-year-old Philadelphia native who once traveled to Nicaragua on missionary assignments for the Witnesses, Seels-Davila gave birth in November 2010 at Hahnemann University Hospital. But a few hours after she underwent an emergency cesarean section, Seels-Davila's blood pressure began to plummet.</p>
<p>Surgeons at the hospital soon discovered that she was suffering from severe internal bleeding, and repeatedly begged her family to allow her to receive a blood transfusion. According to court records, her parents and her husband, who were also Witnesses, refused to disregard the religion's ban on accepting transfusions.</p>
<p>Her fate, they told the doctors, was God's will.</p>
<p>Several days later, Seels-Davila died.</p>

<div class="subHead">Evasive Maneuvers</div>

<p>In 2013, Stephanie Fessler took the Watchtower to court in Philadelphia.</p>
<p>Her adolescence offered further proof of how adept Witness leaders could be at skirting their official policy on reporting child abuse. A 50-year-old woman named Terry Monheim began molesting Fessler in 2003, when she was just 13. Monheim was the mother of one of Fessler's friends, and had easy access to the teen.</p>
<p>According to the lawsuit, which was filed in Common Pleas Court, the abuse evolved from kissing to oral sex and penetration. In all, Monheim abused Fessler 30 to 40 times.</p>
<p>When Fessler's parents learned what Monheim had done to their daughter, they alerted elders at their congregation in Spring Grove, York County. Here, again, was a problem with a clear solution: Pennsylvania law required the elders to report the allegations to the authorities. Instead, they kept the matter quiet, and discouraged Fessler's family from contacting police. And like Sarah Brooks, Fessler was publicly reproved in front of other Witnesses.</p>
<p>Years later, Fessler decided to share her story with local law enforcement. Monheim was arrested in 2012, but investigators didn't get much in the way of cooperation from Witness leaders.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_detective_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">Detective Sgt. Lisa Layden, of the Southwestern Regional Police Department, says she was met with resistance from Witness elders when she investigated the 2003 sexual assault of Stephanie Fessler.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>Detective Sgt. Lisa Layden, of the Southwestern Regional Police Department, went to the Spring Grove Kingdom Hall armed with a search warrant, and requested any records the elders had about Monheim. She encountered the exact type of resistance that the Watchtower called for in its 1989 memo.</p>
  <p>"They did not turn the records over," Layden said. An elder she met claimed the files she wanted were actually housed at the Watchtower's headquarters in Brooklyn. She left the kingdom hall, assuming the elder would notify her when the documents were available.</p>
  <p>"Then their lawyer filed a motion, saying I didn't have legal authority to get the records," Layden said.</p>
  <p>"I've been a child-abuse investigator for 22 years. Sometimes organizations don't want to be forthcoming. But I just thought, 'Why wouldn't they turn over the records?' "</p>
  <p>But Layden's efforts weren't in vain. Monheim eventually pleaded guilty to indecent assault and corruption of minors.</p>
  <p>Watchtower officials declined to discuss Fessler's case, or any others in this story, and instead stuck to familiar talking points. "Congregation elders comply with child-abuse reporting laws," reads one portion of an email from a spokesman, who underscored the message by including links to a handful of articles the organization has published about the dangers of child abuse during the last 30 years.</p>
  <p>Philadelphia attorney Jeffrey Fritz, who sued the Witnesses on Fessler's behalf, scoffed at the Watchtower's overall message from his Center City office in February.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_lawyer_fritz_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">Philadelphia attorney Jeffrey Fritz sued the religion's leaders on behalf of Stephanie Fessler. The lawsuit was settled in 2017.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>"They place their reputation in the community above the safety of children," he said. "It repeats itself everywhere, all over the world."</p>
  <p>The Watchtower settled Fessler's lawsuit last year, but a confidentiality agreement prevents Fessler and Fritz from discussing the case. Fritz is now representing Sarah Brooks, who plans to sue the Watchtower later this year.</p>

<div class="subHead">On the Move</div>

<p>This pattern of allegations will seem familiar to anyone who followed the clergy abuse scandal that rocked the Catholic Church more than a decade ago.</p>
<p>The severity of accusations are minimized, and the religion's leaders do everything in their power to avoid having to offer a full and public accounting of the depth of the problems that are festering below the surface. Hints of their scope only emerge in court battles and secret files that are leaked online.</p>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
<div class="sharestory">
<h3>Share your story</h3>
<p>Are you a current or former Jehovah's Witness with a story to share about surviving sex abuse? <a href="" target="_blank">
Tell us what happened.</a></a><p>
</div>
</div>

<p>In 2012, a San Diego man named Jose Lopez sued the Watchtower over <a href="https://www.revealnews.org/article/how-jehovahs-witnesses-leaders-hide-child-abuse-secrets-at-all-costs/">abuse he suffered as a child</a> at the hands of Gonzalo Campos, a former Witness elder who admitted to molesting numerous boys in the 1980s and '90s.</p>
<p>As part of the case, Lopez's attorney sought to compel Watchtower leaders to turn over a list of abusers they have compiled since 1997. When they refused, a Superior Court judge began fining the organization $4,000 a day. Despite the steep penalty, the list was never released, and the case was settled in March.</p>

{% set quote = ["The efforts they take to keep the public from seeing any bad behavior are extreme.", "Marci Hamilton, the founder of CHILD USA"] %} {% include "partials/left-quote.html" %}

<p>"This is an intensely patriarchal, top-down organization, and the efforts they take to keep the public from seeing any bad behavior are extreme," said Marci Hamilton, the founder of CHILD USA, a nonprofit focused on research and advocacy to end child abuse.</p>
<p>"They're dedicated to preserving power, preserving their image and keeping their members as isolated as possible," she said. "The recipe for child abuse is much higher, percentage-wise, than the rest of the culture."</p>
<p>Government officials in the United Kingdom have discussed launching a formal investigation into the Witnesses in response to recently publicized abuse complaints. Last year, Russia's supreme court <a href="http://www.bbc.com/news/world-europe-40635267">banned the Witnesses</a> and labeled them extremists, a <a href="https://www.state.gov/r/pa/prs/ps/2017/07/272679.htm">move that was criticized</a> by the U.S. State Department.</p>
<p>But the fact that lawmakers here haven't called for a probe of the Witnesses' practices isn't a surprise. "There is a serious problem in the U.S. of deference to religious entities, even when deference is not due," Hamilton said.</p>

<div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
       <div class="adUnit" alignment="true">
           <div id="div-gpt-ad-mrec-22" alignment="true">
               <script alignment="true" type="text/javascript">

                       googletag.cmd.push(function() {
                           googletag.display('div-gpt-ad-mrec-21');
                       });
               </script>
           </div>
       </div>
   </div>

   <p>The price of fighting and settling lawsuits will likely continue to rise, but the Witnesses seem well-positioned to shoulder that burden. The cost of building and maintaining kingdom halls fall on the congregants, not the organization itself. Elders and other dedicated servants aren't paid.</p>
   <p>And then there's the cushion provided by their real estate holdings. The Witnesses <a href="https://commercialobserver.com/2016/09/the-107-year-relationship-between-the-jehovahs-witnesses-and-brooklyn-is-coming-to-an-end/">reportedly once owned 30 properties</a> in New York. Between 2013 and 2016, they sold three of their largest parcels, including their longtime headquarters, to Kushner Cos. LLC and a consortium of other investors for more than $1 billion.</p>
   <p>It's unclear if Jared Kushner, who was the company's CEO at the time, or any other executives were aware of the abuse allegations when they made the high-profile purchases.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-8 imagebreak col-md-offset-2">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jkLpRjx5j-I"></iframe>
</div>

</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">


  <p>A Kushner Cos. spokeswoman declined to comment, saying she didn't see a connection relating to Kushner, the Witnesses, and this story.</p>
  <p>Kushner is featured prominently in a video the Witnesses produced that was leaked to YouTube last year. "I would say that the people I've dealt with have all been, I'd say first and foremost, of high integrity," Kushner tells an interviewer. "You know a handshake means something with the Witnesses. It's much easier to transact with a group where there's a high level of trust."</p>
  <p>The Witnesses relocated their headquarters to a 1.6 million-square-foot complex in the village of Tuxedo Park, outside of New York City.</p>
  <p>I made the two-hour drive to the 45-acre property in late February. Sprawling, state-of-the-art offices, hundreds of apartments, and an interactive hub for tourists are set back off a quiet, winding road, nestled against the serene Sterling Park Lake.</p>
  <p>Dozens of neatly dressed visitors ambled through a self-guided tour that traced the history of the religion back to Charles Taze Russell's early days in Pittsburgh.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_hq_tuxedo_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">The Witnesses recently moved their world headquarters to this sprawling, state-of-the-art compound next to Sterling Park Lake in Tuxedo Park, N.Y., 45 miles from  Brooklyn.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>Staffers greeted me with megawatt smiles, and patiently explained how to use a headset that offered audio explainers of the exhibits. Old Bibles, an original copy of the first Watchtower newsletter, and other artifacts were displayed with the same narrative flourish that you'd find in a museum.</p>

<div class="emailSubscribeBox">
	<p class="subscribeText">
		<strong>Do you value this reporting?</strong>
		Powerful, independent journalism takes hard work, time, and money. If you value what we do, please support our journalism by becoming a subscriber.
	</p>
	<a href="https://checkout.philly.com/"><button class="subscribeButton">Subscribe</button></a>
</div>

<p>Plenty of space was devoted to detailing the opposition Witnesses have faced when they tried to spread their message in far-flung corners of the world. But there wasn't any reference to the religion's controversies — not the failed doomsday prophecies, the cruelty of shunning, the growing prevalence of molestation accusations.</p>
<p>Then I noticed the sign. It was the color of sunburn, hung just above eye level on a wall. Large white letters spelled out the title of the exhibit: Jehovah Cares For Children.</p>

</div>
</div>
<div alignment="true" class="row">
<div class="col col-md-10 imagebreak col-md-offset-1"><img width="100%/" alt="" src="http://media.philly.com/images/jehovah_children_sign_1200.jpg" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">TIM TAI / Staff Photographer</div>
<div class="containerPhotoCaption" alignment="true">A sign along the self-guided tour in Tuxedo Park, N.Y., says, "Jehovah Cares For Children."</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">

  <p>"The Governing Body of Jehovah's Witnesses has given increased attention to young ones in recent years," read one portion of the display. "Deep concern for the welfare of these precious gifts in our midst is reflected in the quantity and quality of the help that is provided."</p>
  <p>Children wandered over to the exhibit, and excitedly whispered questions to their parents. It was a bittersweet moment, the little ones' innocence colliding with an unspoken reminder that the Watchtower, like so many other religious institutions, has often failed to protect its sheep from the wolves.</p>
  <p>Two child-sized mannequins were posed nearby, with copies of Bible lessons nestled in their plastic hands. In front of them was a small sign with four words: Please Do Not Touch.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-12 col col-md-offset-0" alignment="true">

      <div class="credits"><span class="creditItem"><span class="title">Reporter:</span> David Gambacorta</span> <span class="creditItem"><span class="title">Editor: </span>James Neff</span> <span class="creditItem"><span class="title">Visuals editor:</span> Frank Wiese </span><span class="creditItem"><span class="title">Design and Production:</span> Ellen Dunkel</span> <span class="creditItem"><span class="title">Photography: </span>Tim Tai and Jessica Griffin</span><span class="creditItem"><span class="title">Video: </span>Jessica Griffin</span> <span class="creditItem">
      </div>
    </div>
  </div>
</div>


<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">TIM TAI / Staff Photographer</div>
      </div>
    </div>
